
html {
  font-size: 13px;
  background: url(https://static.pexels.com/photos/141376/pexels-photo-141376.jpeg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}


kbd {
  display: block;
  font-size: 4rem;
}

.sound-name {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  /*color: #ffc600;*/
  color: #00ff5e;
}

.key {
  border: .4rem solid #312f2f;
  border-radius: .5rem;
  box-shadow: 4px 1px 18px 0px rgba(103, 181, 125, 0.71);
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 6rem;
  text-align: center;
  color: white;
  background: rgba(243, 182, 182, 0.2);
  text-shadow: 5px 6px 0.5rem #4e2d2d;
}

footer {
  background: rgba(239, 162, 182, 0.29);
  color: #312f2f;
  text-align: center;
  line-height: 25px;
  padding: 0 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin: auto;
}